---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { ABOUT } from "@consts";
import Image from "astro/components/Image.astro";

---

<Layout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="animate font-semibold text-black dark:text-white">
          About
        </div>
        <section class="animate">
          <p class="my-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias earum quod quo repellat blanditiis est iste eos dolorem! Voluptatibus corporis totam sed unde est iusto neque iure natus adipisci omnis.</p>
          <div class="flex flex-col min-[410px]:flex-row">
            <Image
              src={'/astro-nano.png'}
              alt={'sss'}
              width={350}
              height={250}
              class="w-[350px] h-[250px] object-cover rounded-xl -rotate-6"
            />
            <Image
              src={'/astro-nano.png'}
              alt={'sss'}
              width={150}
              height={250}
              class="w-[150px] h-[250px] object-cover rounded-xl rotate-6 mx-auto sm:ml-auto"
            />
          </div>
          <p class="my-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias earum quod quo repellat blanditiis est iste eos dolorem! Voluptatibus corporis totam sed unde est iusto neque iure natus adipisci omnis.</p>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
