<div class="fixed w-full h-[2px] bg-white z-50">
  <div class="bg-orange-500 h-full" id="progress-bar"></div>
</div>

<script>
  import { initializeProgressBar } from '../scripts/progress-bar.js';
  initializeProgressBar();
</script>

